h3 {
    text-align: center;
    font-size: large;
}

.thumbnail {
    height:250px;
    width: auto;
    /* background-color: rgb(188, 220, 169) */
    
}
.thumbnail>img {
    height:70%;
    width: auto;
    /* width:60%; */
    max-width: 100%;
    max-height: 100%;
}